---
layout: default
---




<div class='o-wrapper particles-container'>
  <div id="particles-js" class='o-grid particles-itself'>
  </div>
  <div id="typer-text-container" class="typer-text-container">
    <h3 class="typer-text">
      <span class="typewrite" data-period="4000" data-type='[ "Multicloud", "Cloud automation", "Cloud infrastructure" ]'>
        <span class="wrap"></span>
      </span><span class="blink-me">|</span>
    </h3>
  </div>
</div>

<div class='o-wrapper' style="padding: 25px 0 10px 0 !important;">
  <div class='o-grid' style="padding: 0 10px;">
    <span style="font-weight: bold; padding: 12px 10px 0 12px;">Tags:</span>
    {% capture tags_string %}
    {% for tag in site.tags %}
    {% assign count = tag[1].size | plus: 1000 %}{{ count }}#{{ tag[0] }}|
    {% endfor %}
    {% endcapture %}
    {% assign sorted_tags = tags_string | split: '|' | sort | reverse %}
    {% for item in sorted_tags limit:6 %}
      {% assign parts = item | split: '#' %}
      {% if parts[1] %}
      <a class="parallelogram" href="/tag/{{ parts[1] }}/">
        <span class="tag">{{ parts[1] }}</span>
      </a>
      {% endif %}
    {% endfor %}
  </div>
</div>







<div class='o-wrapper' style="padding: 0 0 25px 0 !important;">
  <div class='o-grid'>
    {% for post in paginator.posts %}
    {% include post-card.liquid %}
    {% endfor %}
  </div>
  
  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>

