---
layout: default
---


<div class='o-wrapper particles-container'>
  <div id="particles-js" class='o-grid particles-itself'>
  </div>
  <div id="typer-text-container" class="typer-text-container">
    <h3 class="typer-text">
      <span class="typewrite" data-period="8000" data-type='[ "Cloud computing blog", "Cloud infrastructure blog", "Cloud automation blog" ]'>
      <span class="wrap"></span>
      </span><span class="blink-me">|</span>
    </h3>
  </div>
</div>

<div class='o-wrapper' style="padding-top: 20px !important;">
  <div class='o-grid'>
    {% for post in paginator.posts %}
    {% include post-card.liquid %}
    {% endfor %}
  </div>
  
  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>
