<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--2-4-s'>
            <div class='c-logo u-text-left'>
              <a href='{{ site.baseurl }}/'><span class='c-logo__link'>{{ site.title }}</span><span class="hide-on-small-screen"> | </span><span class="blog-sub-title hide-on-small-screen">{{ site.sub-title }}</span></a>
            </div>
          </div>
          
          <div class='o-grid__col o-grid__col--2-4-s'>
            <label id="menu-toggle" onclick="toggleNav()" class='js-off-canvas-toggle c-off-canvas-toggle turnit-transition' aria-label='Toggle navigation'>
              <span class='c-off-canvas-toggle__icon'></span>
            </label>
            <label aria-label='Toggle theme' class='theme-toggle'>
              <a id="mode" onclick="toggleTheme()" id='theme-toggle'>
                <svg
                  id="sun-moon"
                  class="mode-sunny"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 512 512"
                >
                  <line
                    x1="256"
                    y1="48"
                    x2="256"
                    y2="96"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="256"
                    y1="416"
                    x2="256"
                    y2="464"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="403.08"
                    y1="108.92"
                    x2="369.14"
                    y2="142.86"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="142.86"
                    y1="369.14"
                    x2="108.92"
                    y2="403.08"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="464"
                    y1="256"
                    x2="416"
                    y2="256"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="96"
                    y1="256"
                    x2="48"
                    y2="256"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="403.08"
                    y1="403.08"
                    x2="369.14"
                    y2="369.14"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="142.86"
                    y1="142.86"
                    x2="108.92"
                    y2="108.92"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <circle
                    cx="256"
                    cy="256"
                    r="80"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                </svg>
                <svg
                  class="mode-moon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 512 512"
                >
                  <title>Light/Dark mode</title>
                  <line
                    x1="256"
                    y1="48"
                    x2="256"
                    y2="96"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="256"
                    y1="416"
                    x2="256"
                    y2="464"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="403.08"
                    y1="108.92"
                    x2="369.14"
                    y2="142.86"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="142.86"
                    y1="369.14"
                    x2="108.92"
                    y2="403.08"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="464"
                    y1="256"
                    x2="416"
                    y2="256"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="96"
                    y1="256"
                    x2="48"
                    y2="256"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="403.08"
                    y1="403.08"
                    x2="369.14"
                    y2="369.14"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <line
                    x1="142.86"
                    y1="142.86"
                    x2="108.92"
                    y2="108.92"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                  <circle
                    cx="256"
                    cy="256"
                    r="80"
                    style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"
                  />
                </svg>
              </a>

            </label>
          </div>

          <div id="mySidenav" class="sidenav">
            <!-- <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a> -->
            {% include navigation.html %}
            <div class="sidenav-small-links">
              <a href="{{ site.baseurl }}/imprint">Imprint</a> <span>|</span> <a href="{{ site.baseurl }}/admin">Login</a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</header>