// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-white: #FFFFFF;
$color-gray:  #2B5F72;
$color-gray:  #2b5f723d;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #222228;
$bg-color-gray:  #FAFAFA;
$color-text: #323232;
$color-text-dark: #f8f8f2;

// Border
$color-border: #E9EFF3;

// Links
$color-link:        $color-text;
$color-link-hover:  red;

// Darkula
$darkula-background: #282a36;
$darkula-current-line: #44475a;
$darkula-selection: #44475a;
$darkula-foreground: #f8f8f2; 
$darkula-comment: #6272a4; 
$darkula-cyan: #8be9fd;
$darkula-purple: #bd93f9;
$darkula-pink: #ff79c6;

// Olive
$olive-green: #a6a971;
$olive-yellow: #edd989;
$olive-beige: #c6baa4;
$olive-brown: #957465;
$olive-dark: #453b37;

$blueish: #4040bf;
$ecru: #D8C99B;
$independence: #44475a;
$easy:  #f0efef;

$blockquote-dark: #44475a5d;
$blockquote-light: #44475a11;

$blockquote-border-dark: #ffffff;
$blockquote-border-light: #44475a;

$color-brand: #c6baa4;

$color-shadow-dark: rgba(10, 10, 10, 0.582);
$color-shadow-light: rgba(238, 238, 238, 0.349);

html, html[data-theme="light"] {
    --blockquote-border-color: #{$blockquote-border-light};
    --blockquote-color: #{$blockquote-light};
    --color-page-background: #{$bg-color-white};
    --color-text: #{$color-text};
    --color-text-hover: #{$independence};
    --color-link: #{$color-text};
    --side-nav-bg-color: #{$independence};
    --side-nav-text-color: #{$color-white};
    --side-nav-text-color-hover: #{$color-shadow-light};
    --sun-moon-stroke: #{$darkula-current-line};
    --sun-moon-fill: #{$darkula-current-line};
    --menu-toggle-color: #{$color-text};
    --date-color: #{$darkula-selection};
    --tag-color: #{$darkula-foreground};
    --footer-color: #{$bg-color-gray};
    --code-bg-color: #{#fafafa};
    --color-blog-subtitle: #{rgba(0, 0, 0, 0.315)};
    --codebox-bg-color: #{$easy};
    --color-text-code: #{$color-text};
    --color-shadow: #{$color-shadow-dark};
    --color-dark-light-tag: #353535;
}

html[data-theme="dark"] {
    --blockquote-border-color: #{$blockquote-border-dark};
    --blockquote-color: #{$blockquote-dark};
    --color-page-background: #282a36;
    --color-text: #fff;
    --color-text-hover: #{$blockquote-border-dark};
    --color-link: #{$color-text-dark};
    --side-nav-bg-color: #{$independence};
    --side-nav-text-color: #{$color-white};
    --side-nav-text-color-hover: #{$color-shadow-light};
    --sun-moon-stroke: #{$color-text-dark};
    --sun-moon-fill: #{$color-text-dark};
    --menu-toggle-color: #{$color-text-dark};
    --date-color: #{$color-text-dark};
    --tag-color: #{$darkula-selection};
    --footer-color: #{$darkula-current-line};
    --code-bg-color: #{#3c3f4b};
    --color-blog-subtitle: #{rgb(218, 218, 218)};
    --codebox-bg-color: #{$independence};
    --color-text-code: #fff;
    --color-shadow: #{$color-shadow-light};
    --color-dark-light-tag: #bdbdbd;
}
