// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #00A0FF;
$color-white: #FFFFFF;
$color-gray:  #2B5F72;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #222228;
$bg-color-gray:  #FAFAFA;
$color-text: #323232;
$color-text-dark: #f8f8f2;

// Border
$color-border: #E9EFF3;

// Links
$color-link:        $color-text;
$color-link-hover:  red;

// Darkula
$darkula-background: #282a36;
$darkula-current-line: #44475a;
$darkula-selection: #44475a;
$darkula-foreground: #f8f8f2; 
$darkula-comment: #6272a4; 
$darkula-cyan: #8be9fd;
$darkula-purple: #bd93f9;
$darkula-pink: #ff79c6;

// Olive
$olive-green: #a6a971;
$olive-yellow: #edd989;
$olive-beige: #c6baa4;
$olive-brown: #957465;
$olive-dark: #453b37;


html, html[data-theme="light"] {
    --color-page-background: #{$bg-color-white};
    --color-text: #{$color-text};
    --color-text-hover: #{$olive-beige};
    --color-link: #{$color-text};
    --side-nav-bg-color: #{$olive-beige};
    --side-nav-text-color: #{$color-white};
    --side-nav-text-color-hover: #{$olive-dark};
    --sun-moon-stroke: #{$darkula-current-line};
    --sun-moon-fill: #{$darkula-current-line};
    --menu-toggle-color: #{$color-text};
    --date-color: #{$darkula-selection};
    --tag-color: #{$darkula-foreground};
    --footer-color: #{$bg-color-gray};
}

html[data-theme="dark"] {
    --color-page-background: #{$darkula-background};
    --color-text: #{$color-text-dark};
    --color-text-hover: #{$darkula-comment};
    --color-link: #{$color-text-dark};
    --side-nav-bg-color: #{$darkula-comment};
    --side-nav-text-color: #{$color-white};
    --side-nav-text-color-hover: #{$darkula-background};
    --sun-moon-stroke: #{$color-text-dark};
    --sun-moon-fill: #{$color-text-dark};
    --menu-toggle-color: #{$color-text-dark};
    --date-color: #{$color-text-dark};
    --tag-color: #{$darkula-selection};
    --footer-color: #{$darkula-current-line};
}
