/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 5px solid #44475a;
  background-color: #44475a09;
  border-radius: 0 7px 7px 0;
}

blockquote > p {
  padding-left: 5px;
}