/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding: 0 $base-spacing-unit;
  border-left: 6px solid var(--blockquote-border-color);
  background-color: var(--blockquote-color);
  border-radius: 0 7px 7px 0;
  text-align: left;
  text-justify: auto;
}

blockquote > p {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
}