/*------------------------------------*\
  Elements > img
\*------------------------------------*/

img {
  display: block;
  max-width: 100%;
  font-style: italic;
}

.img-wrapper {
  position: relative;
  height: 0;
  /* Formula is: (height / width * 100%) */
  padding-top: calc(7 / 16 * 100%);
}
.article-img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto; 
}

.about-this-blog {
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  text-align: left;
  //  border-radius: 3px;
  padding: 15px !important;
  margin: 10px 16px 0 16px !important;
  // border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: var(--color-hover-transparent-background);
    cursor: pointer;
  }
  text-decoration: none !important;
}
.avatar {
  vertical-align: middle;
  width: 20vw;
  height: 20vw;
  max-width: 85px;
  max-height: 85px;
  border-radius: 50%;
  float: right;
  margin: 3px 20px 3px 3px;
}
.avatar-description {
  
}