/*------------------------------------*\
  Elements > Links
\*------------------------------------*/

a {
  text-decoration: none;
  color: var(--color-link);
  transition: $global-transition;

  @include attention() {
    text-decoration: underline;
  }
}