/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  text-align: justify;
  text-justify: inter-word;
  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }
}