/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  &__inner {
    padding: $base-spacing-unit 0;
    border-bottom: 1px solid $color-border;
  }

  &__icon {
    vertical-align: middle;
  }
}

a.c-logo__link :hover {
  color: var(--text-color-hover)
}

span.blog-sub-title {
  color: var(--color-blog-subtitle);
}

@media screen and (max-width: 450px) {
  span.hide-on-small-screen {
    display: none;
  }
}