/*------------------------------------*\
  Components > Post
\*------------------------------------*/

.c-post article {
  width: 100%;
}

.c-post {
  margin: 0 auto;
  max-width: 740px;

  &__info {
    color: var(--color-dark-light-tag); 
    font-size: smaller;
    opacity: 0.8;
  }

  &__title {
    font-size: 31px !important;
    margin: 8px 0 5px 0;

    @include mq($from: tablet) {
      font-size: double($font-size-small);
    }
  }

  &__date {
    position: relative;
    padding-top: $base-spacing-unit;
    display: block;
    text-align: center;
    margin-bottom: $base-spacing-unit;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: $line-height-small;
    color: var(--date-color);

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      height: 1px;
      width: quadruple($base-spacing-unit);
      background: var(--date-color);
      transform: translateX(-50%);
    }
  }

  &__image {
    margin: 0 auto $base-spacing-unit;
  }
}

div#disqus_thread iframe[sandbox] {
        max-height: 0px !important;
}