<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body id="main" data-theme="dark">

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include header.html %}
    
      {{ content }}
    
    {% include footer.html %}
  </div>
  
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/particles.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">              </script>
</body>

</html>
