---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper' style="padding-top: 17px !important">
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        {% include page-image.html %}

        <div class='o-wrapper' style="padding: 17px 0 13px 0px !important;">

          <h1 class='c-post__title'>{{ page.title }}</h1>
          <span class="c-post__info">
            Published {{ page.date | date: '%d %b %Y' }} |
            {% assign words = content | strip_html | number_of_words %}
            {{ words | divided_by: 180 | plus: 1 }} minute read
          </span>

          <div class='o-grid' style="padding: 2px 8px 8px 8px;">
            {% for tag in page.tags %}
            <a class="parallelogram" href="{{ site.baseurl }}/tag/{{ tag }}">
              <span class="tag">{{ tag }}</span>
            </a>
            {% endfor %}
          </div>
        </div>
        
        
        <!-- <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time> -->
        
        

        <div class='c-content' itemprop='articleBody'>
          
          {{ content }}
        </div>

        {% include about-me.html %}
        
        <br/>
        {% include disqus.html %}
      </article>
    </div>
  </div>
</div>