---
layout: default
---

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col' style="margin: 10px 0 30px 0;">
      <div class="parallelogram" style="padding: 15px; margin: 10px 0 25px 4px; box-shadow: 7px 7px var(--color-dark-light-tag);">
        <h1 style="margin-bottom: 0; padding: 5px; font-size: 35px;">{{ page.tag }}</h1>
      </div>
    </div>
  </div>

  <div class='o-grid'>
    {% for post in page.posts %}
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>